{% extends 'base.html' %}
{% block title %} Alertas {% endblock %}

{% block content %}
    <main class="p-6">
        <section class="flex flex-col gap-4">
            <h1 class="text-xl font-bold text-sky-950">Alertas</h1>
            <section class="flex items-center gap-4 text-sm">
                <div class="rounded-lg border border-gray-300 px-2 py-1 w-full">
                    <select name="cano" id="cano" class="appearance-none">
                        <option value="">Todos os IDs</option>
                    </select>            
                </div>
                <div class="rounded-lg border border-gray-300 px-2 py-1 w-full">
                    <select name="cano" id="cano" class="appearance-none">
                        <option value="">Status</option>
                    </select>
                </div>
                <div class="rounded-lg border border-gray-300 px-2 py-1 w-full">
                    <select name="cano" id="cano" class="appearance-none">
                        <option value="">Cidade</option>
                    </select>
                </div>
                <div class="rounded-lg border border-gray-300 px-2 py-1 w-full">
                    <select name="cano" id="cano" class="appearance-none">
                        <option value="">Data</option>
                    </select>
                </div>
                <div class="flex gap-4 items-center">
                    <a href="#" class="text-white font-bold bg-sky-800 rounded-2xl px-8 py-1 drop-shadow-lg w-full">Filtrar</a>
                    <a href="#" class="flex text-sky-800 whitespace-nowrap">Limpar Filtros</a>
                </div>
            </section>
            <div class="flex gap-4 text-sm">
                <p class="flex items-center px-3 py-1 bg-sky-200 rounded-2xl">Status: Ativo</p>
                <p class="flex items-center px-3 py-1 bg-sky-200 rounded-2xl">Cidade: Pau dos Ferros</p>
            </div>

            <section class="flex gap-4 items-start">
                <div class="overflow-hidden rounded-lg border border-gray-200 w-7/10 bg-white">
                    <table class="w-full text-left">
                        <thead class="border border-gray-200">
                            <tr class="border border-gray-300">
                                <th class="px-3 py-2 font-semibold text-gray-600">ID</th>
                                <th class="px-3 py-2 font-semibold text-gray-600">Status</th>
                                <th class="px-3 py-2 font-semibold text-gray-600">Cidade</th>
                                <th class="px-3 py-2 font-semibold text-gray-600">Data</th>
                                <th class="px-3 py-2 font-semibold text-gray-600">Atualizado em</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border border-gray-200">
                                <td class="px-3 py-3 text-sm">1</td>
                                <td class="px-3 py-3"><span class="bg-green-100 px-2 py-1 border border-green-600 rounded-2xl text-sm text-green-600">Ativo</span> </td>
                                <td class="px-3 py-3 text-sm">Pau dos Ferros</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                            </tr>
                            <tr class="border border-gray-200">
                                <td class="px-3 py-3 text-sm">2</td>
                                <td class="px-3 py-3"><span class="bg-green-100 px-2 py-1 border border-green-600 rounded-2xl text-sm text-green-600">Ativo</span> </td>
                                <td class="px-3 py-3 text-sm">Pau dos Ferros</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                            </tr>
                            <tr class="border border-gray-200">
                                <td class="px-3 py-3 text-sm">3</td>
                                <td class="px-3 py-3"><span class="bg-green-100 px-2 py-1 border border-green-600 rounded-2xl text-sm text-green-600">Ativo</span> </td>
                                <td class="px-3 py-3 text-sm">Pau dos Ferros</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                                <td class="px-3 py-3 text-sm">28/09/2026</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="flex flex-col gap-4 w-3/10 px-3 py-4 border border-gray-200 rounded-xl bg-white">
                    <header class="flex justify-between">
                        <div class="flex flex-col">
                            <h1 class="text-sm text-gray-600">Alerta</h1>
                            <h2 class="text-4xl font-bold">A-1042</h2>
                        </div>
                        <div class="flex items-center">
                            <span class="bg-yellow-50 px-3 py-1.5 border border-yellow-600 rounded-full text-sm text-yellow-600">Manutenção</span>
                        </div>
                    </header>
                    <main class="flex flex-col gap-1 text-sm">
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Cidade</p>
                            <p>Pau dos Ferros - RN</p>
                        </div>
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Localização</p>
                            <p>Bairro Chico Cajá</p>
                        </div>
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Reportado em</p>
                            <p>Rua Projetada A</p>
                        </div>
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Gravidade</p>
                            <p>Média</p>
                        </div>
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Coordenadas</p>
                            <p>-6.1092, -38.2073</p>
                        </div>
                        <hr class="border-gray-200">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Responsável</p>
                            <p>Equipe Norte</p>
                        </div>
    
                        <a href="#" class="flex self-center items-center gap-2 text-white font-bold bg-sky-800 rounded-2xl px-10 py-2 drop-shadow-lg mt-6"><span>Icone</span>Resolver</a>
                    </main>
                </div>
            </section>
        </section>
    </main>
{% endblock %}