{% extends 'user/base_login.html' %}
{% load static %}
{% block content %}
<section class="flex flex-col w-2/3 justify-center items-center">
    <div class="flex flex-col w-1/2">
        <h1 class="text-3xl font-bold">
            Criar cadastro
        </h1>
        <p class="text-gray-500">
            Informe seus dados para acessar o SIGRAH.
        </p>
    </div>
    <nav class="relative m-4 flex w-1/2 overflow-hidden rounded-full border border-sky-600">
        <span id="indicador"
            class="absolute inset-y-0 left-0 w-1/2 rounded-full bg-sky-600 transition-transform duration-300">
        </span>
        <a href="{% url 'cadastro' %}"
            class="relative z-10 w-1/2 px-5 py-2 text-center text-sm font-medium text-black"
            aria-current="page"> Cidadão </a>
        <a
            href="{% url 'cadastro_admin' %}"
            id="admin"
            class="relative z-10 w-1/2 px-5 py-2 text-center text-sm font-medium text-black">  Admin </a>
    </nav>
   <form class="flex flex-col gap-2 w-1/2" method="post">
        <div class="flex flex-col gap-1">
            <label for="nome">Nome completo:</label>
            <input class="rounded-lg p-2 border border-sky-400 focus:border-sky-400 focus:outline-none focus:ring-1 focus:ring-sky-400" type="text" id="nome" name="nome" placeholder="Nome completo" required>
        </div>
        <div class="flex flex-col gap-1">
            <label for="email">Email:</label>
            <input class="rounded-lg p-2 border border-sky-400 focus:border-sky-400 focus:outline-none focus:ring-1 focus:ring-sky-400" type="email" id="email" name="email" placeholder="exemplo@gmail.com" required>
        </div>
        <div class="flex flex-col gap-1">
            <label for="password">Senha:</label>
            <input class="rounded-lg p-2 border border-sky-400 focus:border-sky-400 focus:outline-none focus:ring-1 focus:ring-sky-400" type="password" id="password" name="password" placeholder="********" required>
        </div>
        <div class="flex flex-col gap-1">
            <label for="confirm_password">Confirmar senha:</label>
            <input class="rounded-lg p-2 border border-sky-400 focus:border-sky-400 focus:outline-none focus:ring-1 focus:ring-sky-400" type="password" id="confirm_password" name="confirm_password" placeholder="********" required>
        </div>
        <button type="submit" class="bg-sky-800 text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-sky-700 duration-300 shadow-2xl drop-shadow-lg drop-shadow-sky-900/50 mt-2">Enviar</button>
        <a class="text-sky-800 text-center" href="#">Já possuo conta.</a>
    </form>
</section>
{% endblock %}
<script src="{% static 'js/cadastro.js' %}"></script>