{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
<div class="container flex h-screen">
    <section class="flex flex-col justify-between h-full w-2/10 bg-sky-800">
        <div class="flex flex-col p-4 gap-4">
            <div class="flex justify-center">
                <img src="#" alt="Logo" class="w-20 h-20 rounded-full">
            </div>
            <nav class="flex flex-col items-strech gap-4 text-white text-sm">
                <a href="#" class="rounded-lg py-2.5 px-3 ">Painel</a>
                <a href="#" class="bg-sky-950 rounded-lg py-2.5 px-3 drop-shadow-lg">Mapa</a>
                <a href="#" class="rounded-lg py-2.5 px-3">Canos</a>
                <a href="#" class="rounded-lg py-2.5 px-3">Alertas</a>
                <a href="#" class="rounded-lg py-2.5 px-3">Administradores</a>
            </nav>
        </div>
        <div class="flex flex-col py-4 px-10 gap-4">
            <div class="flex flex-col text-red-400">
                <span>Denuncie: </span>
                <span>+55 (84) 99999-9999</span>
            </div>

            <a href="#" class="flex justify-center items-center gap-5 text-white">
                <span>Sair</span>
                <span>Icone</span>
            </a>
        </div>
    </section>
    <section>
        {% block content %}
        
        {% endblock %}
    </section>
</div>
</body>
</html>
