<section class="flex flex-col gap-4 w-3/10 px-3 py-4 border border-gray-200 rounded-xl bg-white">
    <header class="flex justify-between">
        <div class="flex flex-col">
            <h1 class="text-sm text-gray-600">Detalhes do Cano</h1>
            <h2 class="text-4xl font-bold">A-1042</h2>
        </div>
        <div class="flex items-center text-sky-600">
            <span class="bg-sky-50 px-3 py-1.5 border border-sky-600 rounded-full text-sm text-sky-600">Em operação</span>
        </div>
    </header>
    <main class="flex flex-col gap-1 text-sm">
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Meterial</p>
            <p>PVC PBA</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Diâmetro</p>
            <p>150 mm</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Localização</p>
            <p>Rua Projetada A</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Coordenadas</p>
            <p>-6.1092, -38.2073</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Cadastrado no dia</p>
            <p>14/03/2022</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Atualizado em</p>
            <p>20/04/2022</p>
        </div>
        <hr class="border-gray-200">
        <div class="flex justify-between">
            <p class="text-gray-500">Responsável</p>
            <p>Equipe Norte</p>
        </div>

        <a href="#" class="flex self-center items-center gap-2 text-white font-bold bg-sky-800 hover:bg-sky-900 transition duration-200 rounded-2xl px-10 py-2 drop-shadow-lg mt-6"><span>Icone</span>Resolver</a>
    </main>
</div>